*, ::before, *::after{
    box-sizing: border-box;
}
body{
    background: #f1f1f1;
    font-family: Roboto, sans-serif;
    font-size: 14px;
    color: rgba(0, 0, 0, 0.6);
    margin: 0;
    line-height: 1.3;
}
a{
    color: inherit;
    text-decoration: none;
}

.topbar{
    background: #2C3E50;
    color: white;
}

.topbar-logo{
    display: block;
    text-align: center;
    font-size: 24px;
    padding: 11px 0;
}

.topbar-nav{
    text-align: center;
    padding-bottom: 16px;
}

.topbar-nav a{
    display: inline-block;
    margin: 0 12px;
    color: rgba(255, 255, 255, 0.67);
    transition: color .3s;
}

.topbar-nav a:hover,
.topbar-nav a.active{
    color: white;
}

.container{
    padding: 0 15px;
    max-width: 1080px;
    margin-left: auto;
    margin-right: auto;
}

.site{
    margin-top: 20px;
    margin-bottom: 20px;
}

.main{
    margin-bottom: 20px;
}

.profil{
    display: none;
}

.sidebar{
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 20px;
}

.sidebar a{
    display: block;
    width: 50%;
    padding: 0.6em 0;
    border: solid 1px transparent;    
    transition: .3s;
    padding-left: 10px;
}

.sidebar a::before{
    content: '';
    display: inline-block;
    vertical-align: middle;
    margin-top: -2px;
    margin-right: 20px;
    width: 15px;
    height: 15px;
    opacity: .67;
    background: url(img/icon/home.svg) center center / contain no-repeat;
    transition:  opacity .3s;
}

.sidebar .sidebar-message::before{
    background: url(img/icon/messages.svg) center center / contain no-repeat;
}

.sidebar .sidebar-evenement::before{
    background: url(img/icon/evenements.svg) center center / contain no-repeat;
}

.sidebar .sidebar-groupes::before{
    background: url(img/icon/groupes.svg) center center / contain no-repeat;
}

.sidebar .sidebar-amis::before{
    background: url(img/icon/groupes.svg) center center / contain no-repeat;
}

.sidebar a.active,
.sidebar a:hover{
    color: black;
    border: solid 1px #d8d8d8;
    background: white;
    border-radius: 3px;
    font-weight: bold;
}

.sidebar a:hover::before,
.sidebar a.active::before{
    opacity: 1;
}

.card{
    border: solid 1px #d8d8d8;
    background: white;
    border-radius: 3px;
    margin-bottom: 15px;
}

.card:last-child{
    margin-bottom: 0;
}

.card-header{
    padding: 10px;
    position: relative;
}

.card-header-avatar{
    padding-left: 65px;
}

.card-avatar{
    border-radius: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 10px;
}

.card-title{
    font-weight: bold;
    color: black;
    margin:0 0 5px 0;
    font-size: 18px;
    padding: 0;
}

.card-date{
    color: rgba(0, 0, 0, 0.38);
    font-size: 12px;
}

.card-body{
    padding: 0 10px 30px 10px;
}

.card-body a{
    color: #34aaff;
    text-decoration: underline;
}

.card-body .fullwidth{
    width: calc(100% + 20px);
    display: block;
    margin-left: -10px;
    margin-right: -10px;
}

.card-body p:first-child{
    margin-top: 0;
}

.card-body p:last-child{
    margin-bottom: 0;
}

.card-footer{
    border-top: solid 1px #d8d8d8;
    background: #fbfbfb;
    display: flex;
    font-size: 12px;
    color: #bdbdbd;
    padding: 10px;
}

.card-footer a:hover{
    text-decoration: underline;
}

.card-comments{
    margin-left: auto;
}

.card-like::before,
.card-comments::before{
    content:'';
    vertical-align: middle;
    display: inline-block;
    margin-right: 5px;
    width: 20px;
    height: 20px;
    background: url('img/icon/like.svg') center center / 20px 18px no-repeat;
}

.card-comments::before{
    background: url('img/icon/comment.svg') center center / 18px 17px no-repeat;
}

.sidebar-title{
    margin-top: 30px;
    margin-bottom: 18px;
    color: black;
    font-size: 15px;
    font-weight: bold;
}

.sidebar-title::after{
    content: '';
    display: block;
    height: 1px;
    width: 100%;
    margin-top: 4px;
    background: black;
}

.friend{
    margin: 14px 0;
    display: flex;
}

.friend-body{
    display: flex;
    flex-direction: column;
}

.friend-avatar{
    height: 73px;
    width: 73px;
    flex: none;
    margin-right: 10px;
}

.friend-name{
    display: block;
    font-weight: bold;
    color: black;
    font-size: 15px;
    margin-bottom: 5px;
}

.friend-connection{
    color: rgba(0, 0, 0, 0.38);
    font-size: 12px;
}

.friend-add{
    font-size: 12px;
    color: black;
    margin-top: auto;
    margin-bottom: 2px;
}

.friend-add::before{
    content: '';
    display: inline-block;
    transform: translateY(-1px);
    width: 17px;
    height: 13px;
    vertical-align: middle;
    background: url('img/icon/add.svg') center center / 18px 13px no-repeat;
    margin-right: 5px;
}

@media only screen and (min-width: 520px){
    .topbar{
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 64px;
        padding: 0 25px;
    }
    .topbar-logo, .topbar-nav{
        padding: 0;
    }
    .topbar-nav{
        margin: 0 20px;
    }
}

@media only screen and (min-width: 950px){
    .site{
        display: flex;
    }
    .profil{
        display: block;
    }
    .sidebar{
        display: block;
        width: 180px;
        flex: none;
    }
    .sidebar a{
        width: 100%;
    }
    .main{
        width: 100%;
        margin-left: 30px;
        margin-right: 30px;
    }
    .aside{
        flex: none;
        width: 310px;
    }
}